In [1]:
import pycurl
import io
from urllib.parse import urlencode

data = {
    'token': 'F9DD295357CE8FAC8062B80E85DF5063',
    'content': 'record',
    'format': 'csv',
    'type': 'flat',
    'rawOrLabel': 'raw',
    'rawOrLabelHeaders': 'raw',
    'exportCheckboxLabel': 'false',
    'exportSurveyFields': 'false',
    'exportDataAccessGroups': 'false',
    'returnFormat': 'json'
}

buf = io.BytesIO()
ch = pycurl.Curl()
ch.setopt(ch.URL, "https://www.ctsiredcap.pitt.edu/redcap/api/")

postfields = urlencode(data)
ch.setopt(ch.POSTFIELDS, postfields)
#ch.setopt(ch.POST, data.items())

ch.setopt(ch.WRITEFUNCTION, buf.write)
ch.perform()
ch.close()


body = buf.getvalue()
#print(body)

In [4]:
import pandas as pd
from io import StringIO

s=str(body,'utf-8')
data = StringIO(s) 
main = pd.read_csv(data)

C:\Users\ridhi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (7,21,24,25,29,31,32,75,98,117,140,169,192,194,196,198,202,208,212,214,216,218,238,240,243,246,249,252,255,261,267,270,273,276,279,343,368,459,463,466,467,468,591,593,596,602,608,617,623,626,629,632,639,643,647,651,695,709,711,780,782,794,874,879,918,930,934,1090,1094,1096,1098,1101,1114,1115,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1797,1799) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
main.head(10)

,id_participant_l,redcap_event_name,name_first,name_middle,name_last,dob,doe,id_primary,id_secondary,id_imsms,...,promis_pfc53_qposition,promis_pfc54,promis_pfc54_tscore,promis_pfc54_stderror,promis_pfc54_qposition,promis_pfc56,promis_pfc56_tscore,promis_pfc56_stderror,promis_pfc56_qposition,promis_bank_v12_physical_function_complete
0,1,year_01_arm_1,control,NaN,control,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,PRT170001,year_01_arm_2,Amar,NaN,Shiwlochan,1993-01-14,2017-01-05,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,PRT170002,year_01_arm_2,Catherine,NaN,Liadis,1950-02-23,2017-01-12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,PRT170003,year_01_arm_2,Lisa,NaN,Stuczynski,1966-10-02,2017-01-12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,PRT170003,year_03_arm_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5,PRT170004,year_01_arm_2,Joe,NaN,Citro,1958-09-06,2017-01-12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6,PRT170005,year_01_arm_2,Harry,NaN,Rubenstein,1958-06-13,2017-01-12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7,PRT170006,year_01_arm_2,Richard,NaN,Paul,1968-03-05,2017-01-12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,PRT170007,year_01_arm_2,Julie,NaN,Higdon,1972-07-03,2017-01-12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9,PRT170009,year_01_arm_2,Christine,NaN,Dietz,1959-06-04,2017-01-12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [7]:
group_data = main.groupby('redcap_event_name')[['id_participant_l']].count()
group_data

                   id_participant_l
redcap_event_name
year_01_arm_1                    72
year_01_arm_2                   503
year_01_arm_3                   260
year_01_arm_4                   513
year_02_arm_2                     2
year_02_arm_3                   113
year_03_arm_2                   235

In [9]:
main[main["id_participant_l"] == "PRT170003"]

,id_participant_l,redcap_event_name,name_first,name_middle,name_last,dob,doe,id_primary,id_secondary,id_imsms,...,promis_pfc53_qposition,promis_pfc54,promis_pfc54_tscore,promis_pfc54_stderror,promis_pfc54_qposition,promis_pfc56,promis_pfc56_tscore,promis_pfc56_stderror,promis_pfc56_qposition,promis_bank_v12_physical_function_complete
3,PRT170003,year_01_arm_2,Lisa,NaN,Stuczynski,1966-10-02,2017-01-12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,PRT170003,year_03_arm_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0