In [2]:
import numpy as np
import pandas as pd

In [3]:
main = pd.read_csv('main.csv')

In [4]:
main.shape

(1932, 443)

In [5]:
##list(main)

In [6]:
group_data = main.groupby('redcap_event_name')[['id_participant']].count()
group_data

                          id_participant
redcap_event_name
consent_initial_vi_arm_1             834
consent_initial_vi_arm_2              72
sample_a_year_1_arm_1                303
sample_a_year_2_arm_1                 73
sample_b_year_1_arm_1                149
sample_b_year_2_arm_1                 12
sample_c_year_1_arm_1                  2
sample_d_year_1_arm_1                  1
year_1_arm_1                         452
year_1a_arm_2                         30
year_2_arm_2                           4

In [7]:
list_events = main['redcap_event_name'].unique()
list_events

array(['consent_initial_vi_arm_1', 'year_1_arm_1',
       'sample_a_year_1_arm_1', 'sample_b_year_1_arm_1',
       'sample_a_year_2_arm_1', 'sample_b_year_2_arm_1',
       'sample_c_year_1_arm_1', 'consent_initial_vi_arm_2',
       'year_1a_arm_2', 'year_2_arm_2', 'sample_d_year_1_arm_1'],
      dtype=object)

In [8]:
for event in list_events:
    data = main[main['redcap_event_name'] == event]
    data.to_csv(event + ".csv")

In [9]:
consent_files = [x for x in list_events if 'consent_initial' in x]
consent_files

['consent_initial_vi_arm_1', 'consent_initial_vi_arm_2']

In [22]:
for event in list_events:
    data = main[main['redcap_event_name'] == event]
    data.to_csv(event + ".csv")
    
consent_files = [x for x in list_events if 'consent_initial' in x]

for f in consent_files:
    arm = pd.read_csv(f + ".csv")
    arm_type = f.split('vi_')[-1]
    arm_files = [x for x in list_events if arm_type in x]
    for subfile in arm_files:
        sub =  pd.read_csv(subfile + ".csv")
        print(sub.shape)
        print(sub.isnull().sum())
        sub.set_index('id_participant', inplace=True)
        sub.update(arm.set_index('id_participant'),overwrite=False)
        sub.reset_index()
        sub.to_csv(subfile + ".csv")

(834, 444)
Unnamed: 0                         0
id_participant                     0
redcap_event_name                  0
name_first                         2
name_middle                      355
name_last                          2
dob                                5
id_primary                         5
id_secondary                     793
id_imsms                         788
id_med_record_number              32
subject_group                     11
recruitment_source                 4
recruitment_source_other         725
enrollment_site                    6
other_enrollment                 771
msdx_recruitment                  20
msdx_current                      26
medical_release                  784
msdx_validated                   108
msdx_validated_upload            825
date_firstsx                     161
age_firstsx                      179
type_firstsx                     250
date_msdx                         96
method_msdx___1                    0
method_msdx___2                    0
method_msdx___3                    0
method_msdx___4                    0
msdx_documentation               831
                                ...
dmt_sixth_end                    832
dmt_seventh                      832
dmt_seventh_start                832
dmt_seventh_end                  833
dmt_eighth                       833
dmt_eighth_start                 833
dmt_eighth_end                   834
dmt_ninth                        834
dmt_ninth_start                  834
dmt_ninth_end                    834
dmt_tenth                        834
dmt_tenth_start                  834
dmt_tenth_end                    834
dmt_history_complete               0
mri_screening_complete           834
mri_screening_eligible           834
mri_scan_research                834
mri_scan_clinical                834
mri_consent_how                  834
mri_date_electronic_sent         834
mri_date_mail_sent               834
mri_date_signed_consent          834
mri_version_consent_form         834
mri_version_date_consent_form    834
mri_consent_pdf                  834
t_mri_complete                   834
tdate_order                      786
tdate_completion                 802
notes_3t                         834
subtle_3t_mri_complete             0
Length: 444, dtype: int64
(452, 444)
Unnamed: 0                         0
id_participant                     0
redcap_event_name                  0
name_first                       452
name_middle                      452
name_last                        452
dob                              452
id_primary                       452
id_secondary                     452
id_imsms                         452
id_med_record_number             452
subject_group                    452
recruitment_source               452
recruitment_source_other         452
enrollment_site                  452
other_enrollment                 452
msdx_recruitment                 452
msdx_current                     452
medical_release                  452
msdx_validated                   452
msdx_validated_upload            452
date_firstsx                     452
age_firstsx                      452
type_firstsx                     452
date_msdx                        452
method_msdx___1                  452
method_msdx___2                  452
method_msdx___3                  452
method_msdx___4                  452
msdx_documentation               452
                                ...
dmt_sixth_end                    452
dmt_seventh                      452
dmt_seventh_start                452
dmt_seventh_end                  452
dmt_eighth                       452
dmt_eighth_start                 452
dmt_eighth_end                   452
dmt_ninth                        452
dmt_ninth_start                  452
dmt_ninth_end                    452
dmt_tenth                        452
dmt_tenth_start                  452
dmt_tenth_end                    452
dmt_history_complete             452
mri_screening_complete           452
mri_screening_eligible           452
mri_scan_research                452
mri_scan_clinical                452
mri_consent_how                  452
mri_date_electronic_sent         452
mri_date_mail_sent               452
mri_date_signed_consent          452
mri_version_consent_form         452
mri_version_date_consent_form    452
mri_consent_pdf                  452
t_mri_complete                   452
tdate_order                      452
tdate_completion                 452
notes_3t                         452
subtle_3t_mri_complete           452
Length: 444, dtype: int64
(303, 444)
Unnamed: 0                         0
id_participant                     0
redcap_event_name                  0
name_first                       303
name_middle                      303
name_last                        303
dob                              303
id_primary                       303
id_secondary                     303
id_imsms                         303
id_med_record_number             303
subject_group                    303
recruitment_source               303
recruitment_source_other         303
enrollment_site                  303
other_enrollment                 303
msdx_recruitment                 303
msdx_current                     303
medical_release                  303
msdx_validated                   303
msdx_validated_upload            303
date_firstsx                     303
age_firstsx                      303
type_firstsx                     303
date_msdx                        303
method_msdx___1                  303
method_msdx___2                  303
method_msdx___3                  303
method_msdx___4                  303
msdx_documentation               303
                                ...
dmt_sixth_end                    303
dmt_seventh                      303
dmt_seventh_start                303
dmt_seventh_end                  303
dmt_eighth                       303
dmt_eighth_start                 303
dmt_eighth_end                   303
dmt_ninth                        303
dmt_ninth_start                  303
dmt_ninth_end                    303
dmt_tenth                        303
dmt_tenth_start                  303
dmt_tenth_end                    303
dmt_history_complete             303
mri_screening_complete           264
mri_screening_eligible           265
mri_scan_research                283
mri_scan_clinical                289
mri_consent_how                  258
mri_date_electronic_sent         282
mri_date_mail_sent               302
mri_date_signed_consent          259
mri_version_consent_form         258
mri_version_date_consent_form    259
mri_consent_pdf                  257
t_mri_complete                     0
tdate_order                      303
tdate_completion                 303
notes_3t                         303
subtle_3t_mri_complete           303
Length: 444, dtype: int64
(149, 444)
Unnamed: 0                         0
id_participant                     0
redcap_event_name                  0
name_first                       149
name_middle                      149
name_last                        149
dob                              149
id_primary                       149
id_secondary                     149
id_imsms                         149
id_med_record_number             149
subject_group                    149
recruitment_source               149
recruitment_source_other         149
enrollment_site                  149
other_enrollment                 149
msdx_recruitment                 149
msdx_current                     149
medical_release                  149
msdx_validated                   149
msdx_validated_upload            149
date_firstsx                     149
age_firstsx                      149
type_firstsx                     149
date_msdx                        149
method_msdx___1                  149
method_msdx___2                  149
method_msdx___3                  149
method_msdx___4                  149
msdx_documentation               149
                                ...
dmt_sixth_end                    149
dmt_seventh                      149
dmt_seventh_start                149
dmt_seventh_end                  149
dmt_eighth                       149
dmt_eighth_start                 149
dmt_eighth_end                   149
dmt_ninth                        149
dmt_ninth_start                  149
dmt_ninth_end                    149
dmt_tenth                        149
dmt_tenth_start                  149
dmt_tenth_end                    149
dmt_history_complete             149
mri_screening_complete           149
mri_screening_eligible           149
mri_scan_research                149
mri_scan_clinical                149
mri_consent_how                  149
mri_date_electronic_sent         149
mri_date_mail_sent               149
mri_date_signed_consent          149
mri_version_consent_form         149
mri_version_date_consent_form    149
mri_consent_pdf                  149
t_mri_complete                     0
tdate_order                      149
tdate_completion                 149
notes_3t                         149
subtle_3t_mri_complete           149
Length: 444, dtype: int64

(73, 444)
Unnamed: 0                        0
id_participant                    0
redcap_event_name                 0
name_first                       73
name_middle                      73
name_last                        73
dob                              73
id_primary                       73
id_secondary                     73
id_imsms                         73
id_med_record_number             73
subject_group                    73
recruitment_source               73
recruitment_source_other         73
enrollment_site                  73
other_enrollment                 73
msdx_recruitment                 73
msdx_current                     73
medical_release                  73
msdx_validated                   73
msdx_validated_upload            73
date_firstsx                     73
age_firstsx                      73
type_firstsx                     73
date_msdx                        73
method_msdx___1                  73
method_msdx___2                  73
method_msdx___3                  73
method_msdx___4                  73
msdx_documentation               73
                                 ..
dmt_sixth_end                    73
dmt_seventh                      73
dmt_seventh_start                73
dmt_seventh_end                  73
dmt_eighth                       73
dmt_eighth_start                 73
dmt_eighth_end                   73
dmt_ninth                        73
dmt_ninth_start                  73
dmt_ninth_end                    73
dmt_tenth                        73
dmt_tenth_start                  73
dmt_tenth_end                    73
dmt_history_complete             73
mri_screening_complete           73
mri_screening_eligible           73
mri_scan_research                73
mri_scan_clinical                73
mri_consent_how                  73
mri_date_electronic_sent         73
mri_date_mail_sent               73
mri_date_signed_consent          73
mri_version_consent_form         73
mri_version_date_consent_form    73
mri_consent_pdf                  73
t_mri_complete                    0
tdate_order                      73
tdate_completion                 73
notes_3t                         73
subtle_3t_mri_complete           73
Length: 444, dtype: int64
(12, 444)
Unnamed: 0                        0
id_participant                    0
redcap_event_name                 0
name_first                       12
name_middle                      12
name_last                        12
dob                              12
id_primary                       12
id_secondary                     12
id_imsms                         12
id_med_record_number             12
subject_group                    12
recruitment_source               12
recruitment_source_other         12
enrollment_site                  12
other_enrollment                 12
msdx_recruitment                 12
msdx_current                     12
medical_release                  12
msdx_validated                   12
msdx_validated_upload            12
date_firstsx                     12
age_firstsx                      12
type_firstsx                     12
date_msdx                        12
method_msdx___1                  12
method_msdx___2                  12
method_msdx___3                  12
method_msdx___4                  12
msdx_documentation               12
                                 ..
dmt_sixth_end                    12
dmt_seventh                      12
dmt_seventh_start                12
dmt_seventh_end                  12
dmt_eighth                       12
dmt_eighth_start                 12
dmt_eighth_end                   12
dmt_ninth                        12
dmt_ninth_start                  12
dmt_ninth_end                    12
dmt_tenth                        12
dmt_tenth_start                  12
dmt_tenth_end                    12
dmt_history_complete             12
mri_screening_complete           12
mri_screening_eligible           12
mri_scan_research                12
mri_scan_clinical                12
mri_consent_how                  12
mri_date_electronic_sent         12
mri_date_mail_sent               12
mri_date_signed_consent          12
mri_version_consent_form         12
mri_version_date_consent_form    12
mri_consent_pdf                  12
t_mri_complete                    0
tdate_order                      12
tdate_completion                 12
notes_3t                         12
subtle_3t_mri_complete           12
Length: 444, dtype: int64
(2, 444)
Unnamed: 0                       0
id_participant                   0
redcap_event_name                0
name_first                       2
name_middle                      2
name_last                        2
dob                              2
id_primary                       2
id_secondary                     2
id_imsms                         2
id_med_record_number             2
subject_group                    2
recruitment_source               2
recruitment_source_other         2
enrollment_site                  2
other_enrollment                 2
msdx_recruitment                 2
msdx_current                     2
medical_release                  2
msdx_validated                   2
msdx_validated_upload            2
date_firstsx                     2
age_firstsx                      2
type_firstsx                     2
date_msdx                        2
method_msdx___1                  2
method_msdx___2                  2
method_msdx___3                  2
method_msdx___4                  2
msdx_documentation               2
                                ..
dmt_sixth_end                    2
dmt_seventh                      2
dmt_seventh_start                2
dmt_seventh_end                  2
dmt_eighth                       2
dmt_eighth_start                 2
dmt_eighth_end                   2
dmt_ninth                        2
dmt_ninth_start                  2
dmt_ninth_end                    2
dmt_tenth                        2
dmt_tenth_start                  2
dmt_tenth_end                    2
dmt_history_complete             2
mri_screening_complete           2
mri_screening_eligible           2
mri_scan_research                2
mri_scan_clinical                2
mri_consent_how                  2
mri_date_electronic_sent         2
mri_date_mail_sent               2
mri_date_signed_consent          2
mri_version_consent_form         2
mri_version_date_consent_form    2
mri_consent_pdf                  2
t_mri_complete                   0
tdate_order                      2
tdate_completion                 2
notes_3t                         2
subtle_3t_mri_complete           2
Length: 444, dtype: int64
(1, 444)
Unnamed: 0                       0
id_participant                   0
redcap_event_name                0
name_first                       1
name_middle                      1
name_last                        1
dob                              1
id_primary                       1
id_secondary                     1
id_imsms                         1
id_med_record_number             1
subject_group                    1
recruitment_source               1
recruitment_source_other         1
enrollment_site                  1
other_enrollment                 1
msdx_recruitment                 1
msdx_current                     1
medical_release                  1
msdx_validated                   1
msdx_validated_upload            1
date_firstsx                     1
age_firstsx                      1
type_firstsx                     1
date_msdx                        1
method_msdx___1                  1
method_msdx___2                  1
method_msdx___3                  1
method_msdx___4                  1
msdx_documentation               1
                                ..
dmt_sixth_end                    1
dmt_seventh                      1
dmt_seventh_start                1
dmt_seventh_end                  1
dmt_eighth                       1
dmt_eighth_start                 1
dmt_eighth_end                   1
dmt_ninth                        1
dmt_ninth_start                  1
dmt_ninth_end                    1
dmt_tenth                        1
dmt_tenth_start                  1
dmt_tenth_end                    1
dmt_history_complete             1
mri_screening_complete           1
mri_screening_eligible           1
mri_scan_research                1
mri_scan_clinical                1
mri_consent_how                  1
mri_date_electronic_sent         1
mri_date_mail_sent               1
mri_date_signed_consent          1
mri_version_consent_form         1
mri_version_date_consent_form    1
mri_consent_pdf                  1
t_mri_complete                   0
tdate_order                      1
tdate_completion                 1
notes_3t                         1
subtle_3t_mri_complete           1
Length: 444, dtype: int64

(72, 444)
Unnamed: 0                        0
id_participant                    0
redcap_event_name                 0
name_first                        0
name_middle                      65
name_last                         0
dob                              48
id_primary                        1
id_secondary                     70
id_imsms                         43
id_med_record_number             66
subject_group                     0
recruitment_source               29
recruitment_source_other         63
enrollment_site                  10
other_enrollment                 54
msdx_recruitment                 19
msdx_current                     24
medical_release                  55
msdx_validated                   57
msdx_validated_upload            72
date_firstsx                     71
age_firstsx                      71
type_firstsx                     71
date_msdx                        72
method_msdx___1                   0
method_msdx___2                   0
method_msdx___3                   0
method_msdx___4                   0
msdx_documentation               72
                                 ..
dmt_sixth_end                    72
dmt_seventh                      72
dmt_seventh_start                72
dmt_seventh_end                  72
dmt_eighth                       72
dmt_eighth_start                 72
dmt_eighth_end                   72
dmt_ninth                        72
dmt_ninth_start                  72
dmt_ninth_end                    72
dmt_tenth                        72
dmt_tenth_start                  72
dmt_tenth_end                    72
dmt_history_complete             72
mri_screening_complete           71
mri_screening_eligible           70
mri_scan_research                72
mri_scan_clinical                72
mri_consent_how                  70
mri_date_electronic_sent         72
mri_date_mail_sent               72
mri_date_signed_consent          71
mri_version_consent_form         70
mri_version_date_consent_form    70
mri_consent_pdf                  70
t_mri_complete                    0
tdate_order                      72
tdate_completion                 72
notes_3t                         72
subtle_3t_mri_complete           72
Length: 444, dtype: int64
(30, 444)
Unnamed: 0                        0
id_participant                    0
redcap_event_name                 0
name_first                       30
name_middle                      30
name_last                        30
dob                              30
id_primary                       30
id_secondary                     30
id_imsms                         30
id_med_record_number             30
subject_group                    30
recruitment_source               30
recruitment_source_other         30
enrollment_site                  30
other_enrollment                 30
msdx_recruitment                 30
msdx_current                     30
medical_release                  30
msdx_validated                   30
msdx_validated_upload            30
date_firstsx                     30
age_firstsx                      30
type_firstsx                     30
date_msdx                        30
method_msdx___1                  30
method_msdx___2                  30
method_msdx___3                  30
method_msdx___4                  30
msdx_documentation               30
                                 ..
dmt_sixth_end                    30
dmt_seventh                      30
dmt_seventh_start                30
dmt_seventh_end                  30
dmt_eighth                       30
dmt_eighth_start                 30
dmt_eighth_end                   30
dmt_ninth                        30
dmt_ninth_start                  30
dmt_ninth_end                    30
dmt_tenth                        30
dmt_tenth_start                  30
dmt_tenth_end                    30
dmt_history_complete             30
mri_screening_complete           30
mri_screening_eligible           30
mri_scan_research                30
mri_scan_clinical                30
mri_consent_how                  30
mri_date_electronic_sent         30
mri_date_mail_sent               30
mri_date_signed_consent          30
mri_version_consent_form         30
mri_version_date_consent_form    30
mri_consent_pdf                  30
t_mri_complete                   30
tdate_order                      30
tdate_completion                 30
notes_3t                         30
subtle_3t_mri_complete           30
Length: 444, dtype: int64
(4, 444)
Unnamed: 0                       0
id_participant                   0
redcap_event_name                0
name_first                       4
name_middle                      4
name_last                        4
dob                              4
id_primary                       4
id_secondary                     4
id_imsms                         4
id_med_record_number             4
subject_group                    4
recruitment_source               4
recruitment_source_other         4
enrollment_site                  4
other_enrollment                 4
msdx_recruitment                 4
msdx_current                     4
medical_release                  4
msdx_validated                   4
msdx_validated_upload            4
date_firstsx                     4
age_firstsx                      4
type_firstsx                     4
date_msdx                        4
method_msdx___1                  4
method_msdx___2                  4
method_msdx___3                  4
method_msdx___4                  4
msdx_documentation               4
                                ..
dmt_sixth_end                    4
dmt_seventh                      4
dmt_seventh_start                4
dmt_seventh_end                  4
dmt_eighth                       4
dmt_eighth_start                 4
dmt_eighth_end                   4
dmt_ninth                        4
dmt_ninth_start                  4
dmt_ninth_end                    4
dmt_tenth                        4
dmt_tenth_start                  4
dmt_tenth_end                    4
dmt_history_complete             4
mri_screening_complete           4
mri_screening_eligible           4
mri_scan_research                4
mri_scan_clinical                4
mri_consent_how                  4
mri_date_electronic_sent         4
mri_date_mail_sent               4
mri_date_signed_consent          4
mri_version_consent_form         4
mri_version_date_consent_form    4
mri_consent_pdf                  4
t_mri_complete                   4
tdate_order                      4
tdate_completion                 4
notes_3t                         4
subtle_3t_mri_complete           4
Length: 444, dtype: int64

In [125]:
arm1 = pd.read_csv("consent_initial_vi_arm_1.csv")

In [126]:
arm1.shape

(834, 444)

In [127]:
arm1.isnull().sum()

Unnamed: 0                         0
id_participant                     0
redcap_event_name                  0
name_first                         2
name_middle                      355
name_last                          2
dob                                5
id_primary                         5
id_secondary                     793
id_imsms                         788
id_med_record_number              32
subject_group                     11
recruitment_source                 4
recruitment_source_other         725
enrollment_site                    6
other_enrollment                 771
msdx_recruitment                  20
msdx_current                      26
medical_release                  784
msdx_validated                   108
msdx_validated_upload            825
date_firstsx                     161
age_firstsx                      179
type_firstsx                     250
date_msdx                         96
method_msdx___1                    0
method_msdx___2                    0
method_msdx___3                    0
method_msdx___4                    0
msdx_documentation               831
                                ...
dmt_sixth_end                    832
dmt_seventh                      832
dmt_seventh_start                832
dmt_seventh_end                  833
dmt_eighth                       833
dmt_eighth_start                 833
dmt_eighth_end                   834
dmt_ninth                        834
dmt_ninth_start                  834
dmt_ninth_end                    834
dmt_tenth                        834
dmt_tenth_start                  834
dmt_tenth_end                    834
dmt_history_complete               0
mri_screening_complete           834
mri_screening_eligible           834
mri_scan_research                834
mri_scan_clinical                834
mri_consent_how                  834
mri_date_electronic_sent         834
mri_date_mail_sent               834
mri_date_signed_consent          834
mri_version_consent_form         834
mri_version_date_consent_form    834
mri_consent_pdf                  834
t_mri_complete                   834
tdate_order                      786
tdate_completion                 802
notes_3t                         834
subtle_3t_mri_complete             0
Length: 444, dtype: int64

In [128]:
arm1_files = [x for x in list_events if 'arm_1' in x]
arm1_files

['consent_initial_vi_arm_1',
 'year_1_arm_1',
 'sample_a_year_1_arm_1',
 'sample_b_year_1_arm_1',
 'sample_a_year_2_arm_1',
 'sample_b_year_2_arm_1',
 'sample_c_year_1_arm_1',
 'sample_d_year_1_arm_1']

In [129]:
s1 = pd.read_csv('sample_a_year_1_arm_1.csv')

In [130]:
s1.head()

,Unnamed: 0,id_participant,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
0,2,PRT170001,sample_a_year_1_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,8,PRT170003,sample_a_year_1_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,12,PRT170004,sample_a_year_1_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,19,PRT170007,sample_a_year_1_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2018-04-03,1.0,2018.0,[document],0.0,NaN,NaN,NaN,NaN
4,24,PRT170008,sample_a_year_1_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [131]:
s1.shape

(303, 444)

In [132]:
s1.isnull().sum()

Unnamed: 0                         0
id_participant                     0
redcap_event_name                  0
name_first                       303
name_middle                      303
name_last                        303
dob                              303
id_primary                       303
id_secondary                     303
id_imsms                         303
id_med_record_number             303
subject_group                    303
recruitment_source               303
recruitment_source_other         303
enrollment_site                  303
other_enrollment                 303
msdx_recruitment                 303
msdx_current                     303
medical_release                  303
msdx_validated                   303
msdx_validated_upload            303
date_firstsx                     303
age_firstsx                      303
type_firstsx                     303
date_msdx                        303
method_msdx___1                  303
method_msdx___2                  303
method_msdx___3                  303
method_msdx___4                  303
msdx_documentation               303
                                ...
dmt_sixth_end                    303
dmt_seventh                      303
dmt_seventh_start                303
dmt_seventh_end                  303
dmt_eighth                       303
dmt_eighth_start                 303
dmt_eighth_end                   303
dmt_ninth                        303
dmt_ninth_start                  303
dmt_ninth_end                    303
dmt_tenth                        303
dmt_tenth_start                  303
dmt_tenth_end                    303
dmt_history_complete             303
mri_screening_complete           264
mri_screening_eligible           265
mri_scan_research                283
mri_scan_clinical                289
mri_consent_how                  258
mri_date_electronic_sent         282
mri_date_mail_sent               302
mri_date_signed_consent          259
mri_version_consent_form         258
mri_version_date_consent_form    259
mri_consent_pdf                  257
t_mri_complete                     0
tdate_order                      303
tdate_completion                 303
notes_3t                         303
subtle_3t_mri_complete           303
Length: 444, dtype: int64

In [138]:
main1 = arm1.dropna(axis=1)

In [134]:
main1.shape

(834, 34)

In [135]:
main1.describe()

,Unnamed: 0,method_msdx___1,method_msdx___2,method_msdx___3,method_msdx___4,dmt_current___1,dmt_current___2,dmt_current___3,dmt_current___4,dmt_current___5,...,contact_method___1,contact_method___2,contact_method___3,basic_information_complete,consent_complete,primary_questionnaire_complete,self_reported_outcome_questionnaire_complete,relapse_history_complete,dmt_history_complete,subtle_3t_mri_complete
count,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,...,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000,834.000000
mean,1087.748201,0.425659,0.636691,0.490408,0.068345,0.007194,0.070743,0.009592,0.140288,0.001199,...,0.041966,0.147482,0.016787,1.055156,1.980815,1.244604,0.952038,0.119904,0.110312,0.076739
std,559.745905,0.494739,0.481241,0.500208,0.252489,0.084564,0.256550,0.097528,0.347494,0.034627,...,0.200633,0.354799,0.128548,0.999077,0.195056,0.970205,0.999449,0.475081,0.456842,0.384403
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,628.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1120.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,1595.500000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000
max,1931.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [139]:
temp1 = s1.dropna(axis=1)

In [140]:
temp1.shape

(303, 8)

In [142]:
temp1.describe()

,Unnamed: 0,blood_sample_complete,stool_sample_complete,urine_sample_complete,saliva_sample_complete,t_mri_complete
count,303.000000,303.000000,303.00000,303.0,303.0,303.000000
mean,889.115512,1.755776,0.60066,0.0,0.0,0.112211
std,533.347181,0.655914,0.91832,0.0,0.0,0.461012
min,2.000000,0.000000,0.00000,0.0,0.0,0.000000
25%,415.000000,2.000000,0.00000,0.0,0.0,0.000000
50%,844.000000,2.000000,0.00000,0.0,0.0,0.000000
75%,1362.000000,2.000000,2.00000,0.0,0.0,0.000000
max,1921.000000,2.000000,2.00000,0.0,0.0,2.000000

In [143]:
arm1[arm1['id_participant']=='PRT170001']

,Unnamed: 0,id_participant,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
0,0,PRT170001,consent_initial_vi_arm_1,Amar,NaN,Shiwlochan,1993-01-14,PRT170001,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [144]:
s1.set_index('id_participant', inplace=True)
s1.update(arm1.set_index('id_participant'),overwrite=False)
s1.reset_index()

,id_participant,Unnamed: 0,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
0,PRT170001,2,sample_a_year_1_arm_1,Amar,NaN,Shiwlochan,1993-01-14,PRT170001,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
1,PRT170003,8,sample_a_year_1_arm_1,Lisa,A,Stuczynski,1966-10-02,PRT170003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
2,PRT170004,12,sample_a_year_1_arm_1,Joe,A,Citro,1958-09-06,PRT170004,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
3,PRT170007,19,sample_a_year_1_arm_1,Julie,A,Higdon,1972-07-03,PRT170007,NaN,76501-0002,...,NaN,2018-04-03,1.0,2018.0,[document],0.0,NaN,NaN,NaN,0.0
4,PRT170008,24,sample_a_year_1_arm_1,Michele,M,Brown,1962-07-20,PRT170008,NaN,76501-0016,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
5,PRT170009,27,sample_a_year_1_arm_1,Christine,S,Dietz,1959-06-04,PRT170009,REDCAP RECORD ID 3,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
6,PRT170010,32,sample_a_year_1_arm_1,Mary,T,Briguglio,1951-09-25,PRT170010,REDCAP RECORD ID #4,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
7,PRT170011,35,sample_a_year_1_arm_1,Lizandra,S,Wyland,1984-11-10,PRT170011,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
8,PRT170014,43,sample_a_year_1_arm_1,Richard,S,Woodruff,1952-10-18,PRT170014,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
9,PRT170015,48,sample_a_year_1_arm_1,Susan,M,Klingler,1956-08-10,PRT170015,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
10,PRT170016,52,sample_a_year_1_arm_1,Mary,L,Fischer,1942-02-04,PRT170016,NaN,76501-0035,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
11,PRT170020,61,sample_a_year_1_arm_1,JENNY,NaN,HULL,1972-03-11,PRT170020,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
12,PRT170021,65,sample_a_year_1_arm_1,David,R,Shaffer,1949-07-02,PRT170021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
13,PRT170022,71,sample_a_year_1_arm_1,Sharon,NaN,Skrabski,1963-08-25,PRT170022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
14,PRT170023,76,sample_a_year_1_arm_1,CELESTE,NaN,FLAHERTY-THOMAS,1976-03-29,PRT170023,REDCAP RECORD ID 2,NaN,...,NaN,2018-05-18,1.0,2018.0,[document],0.0,NaN,NaN,NaN,0.0
15,PRT170024,82,sample_a_year_1_arm_1,LINDA,R,SMITH,1957-01-05,PRT170024,NaN,NaN,...,NaN,2018-06-06,1.0,2018.0,[document],2.0,NaN,NaN,NaN,0.0
16,PRT170026,91,sample_a_year_1_arm_1,SUSAN,B,REVAY,1964-02-12,PRT170026,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
17,PRT170027,94,sample_a_year_1_arm_1,EDWARD,NaN,BROWN,1976-01-25,PRT170027,Record ID 29(PROMOTE),NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
18,PRT170029,100,sample_a_year_1_arm_1,KATHY,K,METZ,1957-02-22,PRT170029,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
19,PRT170030,105,sample_a_year_1_arm_1,LISA,K,MOORE,1966-05-24,PRT170030,NaN,76501-0001,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
20,PRT170031,111,sample_a_year_1_arm_1,LISA,J,FRATTO,1967-10-03,PRT170031,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
21,PRT170034,119,sample_a_year_1_arm_1,DANIEL,N,LOEBIG,1957-05-30,PRT170034,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
22,PRT170035,124,sample_a_year_1_arm_1,JENNIFER,NaN,CHRISTENSEN,1971-12-07,PRT170035,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
23,PRT170037,129,sample_a_year_1_arm_1,Dorothy,NaN,Bolen,1968-10-11,PRT170037,NaN,NaN,...,NaN,2018-09-07,1.0,2018.0,[document],2.0,NaN,NaN,NaN,0.0
24,PRT170041,140,sample_a_year_1_arm_1,Michelle,M,Palicka,1971-03-28,PRT170041,NaN,76501-0014,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-11-01,2018-11-15,NaN,2.0
25,PRT170042,145,sample_a_year_1_arm_1,Shawn,M,Voynick,1977-05-21,PRT170042,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
26,PRT170044,152,sample_a_year_1_arm_1,Dymphna,NaN,NOVAK,1961-12-03,PRT170044,NaN,NaN,...,NaN,NaN,1.0,NaN,[document],0.0,NaN,NaN,NaN,0.0
27,PRT170047,159,sample_a_year_1_arm_1,Cynthia,E,Allshouse,1968-08-13,PRT170047,NaN,76501-0003,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
28,PRT170049,165,sample_a_year_1_arm_1,MEGAN,NaN,TULIKANGAS,1980-01-02,PRT170049,NaN,NaN,...,NaN,2018-05-07,1.0,2018.0,[document],2.0,NaN,NaN,NaN,0.0
29,PRT170050,170,sample_a_year_1_arm_1,LINDA,A,BRAUN,1951-08-03,PRT170050,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,PRT180702,1648,sample_a_year_1_arm_1,Catherine,NaN,Shok,1984-08-29,PRT180702,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
274,PRT180706,1656,sample_a_year_1_arm_1,Molly,NaN,Park,1989-07-11,PRT180706,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
275,PRT180707,1659,sample_a_year_1_arm_1,Samantha,A,Foor,1974-06-13,PRT180707,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
276,PRT180710,1663,sample_a_year_1_arm_1,Timothy,S,King,1980-09-10,PRT180710,NaN,NaN,...,NaN,2018-11-27,2.0,2018.0,[document],0.0,NaN,NaN,NaN,0.0
277,PRT180713,1668,sample_a_year_1_arm_1,Carol,L,Murray,1945-12-10,PRT180713,NaN,76501-0047,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
278,PRT180715,1672,sample_a_year_1_arm_1,Robert,NaN,Brice,1951-09-18,PRT180715,NaN,76501-0049,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-07-31,2018-08-21,NaN,2.0
279,PRT180718,1677,sample_a_year_1_arm_1,John,B,Egan,1971-05-19,PRT180718,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-08-07,2018-08-17,NaN,2.0
280,PRT180719,1680,sample_a_year_1_arm_1,Lauren,P,Jacobs,1981-12-10,PRT180719,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
281,PRT180724,1686,sample_a_year_1_arm_1,Carol,M,Pace,1957-12-25,PRT180724,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
282,PRT180725,1689,sample_a_year_1_arm_1,Elvira,NaN,Dillard,1968-07-12,PRT180725,NaN,NaN,...,NaN,2018-08-21,1.0,2018.0,[document],0.0,2018-08-21,2018-09-06,NaN,2.0
283,PRT180727,1694,sample_a_year_1_arm_1,Nicholas,R,Johnson,1982-04-19,PRT180727,NaN,NaN,...,NaN,2018-11-14,2.0,2018.0,[document],2.0,2018-08-14,2018-09-01,NaN,2.0
284,PRT180730,1701,sample_a_year_1_arm_1,Linda,NaN,Varner,1958-11-02,PRT180730,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
285,PRT180732,1707,sample_a_year_1_arm_1,Mari,Neysa (preferred),Cotchen,1957-02-13,PRT180732,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-08-28,2018-09-10,NaN,2.0
286,PRT180736,1714,sample_a_year_1_arm_1,Kenneth,NaN,Dyer,1966-05-03,PRT180736,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
287,PRT180740,1723,sample_a_year_1_arm_1,Bryan,NaN,Menke,1972-10-11,PRT180740,NaN,76501-0053,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-09-11,2018-11-03,NaN,2.0
288,PRT180749,1739,sample_a_year_1_arm_1,Kirk,NaN,Owen,1976-03-02,PRT180749,NaN,NaN,...,2019-01-24,2019-01-26,2.0,2018.0,[document],0.0,NaN,NaN,NaN,0.0
289,PRT180763,1760,sample_a_year_1_arm_1,Daniel,NaN,Klacik,1962-03-31,PRT180763,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
290,PRT180767,1767,sample_a_year_1_arm_1,Daralynn,C,Gordon,1981-10-12,PRT180767,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-10-02,2018-11-19,NaN,2.0
291,PRT180770,1772,sample_a_year_1_arm_1,Ruth,A,Fauman-Fichman,1955-09-17,PRT180770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
292,PRT180775,1779,sample_a_year_1_arm_1,Monica,NaN,Harvey,1957-11-02,PRT180775,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
293,PRT180779,1785,sample_a_year_1_arm_1,Lisa,Ann,Palm,1975-07-26,PRT180779,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
294,PRT180783,1790,sample_a_year_1_arm_1,Chad,NaN,Virostek,1978-11-07,PRT180783,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-10-23,2018-11-24,NaN,2.0
295,PRT180787,1795,sample_a_year_1_arm_1,Debra,NaN,Galley,1951-10-17,PRT180787,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-10-30,2018-12-01,NaN,2.0
296,PRT180789,1800,sample_a_year_1_arm_1,Amy,NaN,Paciulli,1973-04-29,PRT180789,NaN,NaN,...,NaN,2018-10-30,2.0,2018.0,[document],0.0,NaN,NaN,NaN,0.0
297,PRT180790,1804,sample_a_year_1_arm_1,Kathy,NaN,Fester,1956-01-13,PRT180790,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-10-30,2018-11-29,NaN,2.0
298,PRT180797,1813,sample_a_year_1_arm_1,Anna,V,Carter,1971-01-22,PRT180797,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-11-13,2018-11-29,NaN,2.0
299,PRT180814,1833,sample_a_year_1_arm_1,Nina,L,Bertolo,1965-05-26,PRT180814,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
300,PRT180842,1863,sample_a_year_1_arm_1,Sharon,M,Moore,1956-03-16,PRT180842,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
301,PRT190869,1892,sample_a_year_1_arm_1,Alisa,NaN,Grishman,1981-11-30,PRT190869,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
302,PRT190897,1921,sample_a_year_1_arm_1,Angel,L,Edwards,1979-10-15,PRT190897,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0

In [145]:
s1.head()

,Unnamed: 0,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,id_med_record_number,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
id_participant,,,,,,,,,,,,,,,,,,,,,
PRT170001,2,sample_a_year_1_arm_1,Amar,NaN,Shiwlochan,1993-01-14,PRT170001,NaN,NaN,738514706,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
PRT170003,8,sample_a_year_1_arm_1,Lisa,A,Stuczynski,1966-10-02,PRT170003,NaN,NaN,737560044,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
PRT170004,12,sample_a_year_1_arm_1,Joe,A,Citro,1958-09-06,PRT170004,NaN,NaN,738014796,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
PRT170007,19,sample_a_year_1_arm_1,Julie,A,Higdon,1972-07-03,PRT170007,NaN,76501-0002,842308153,...,NaN,2018-04-03,1.0,2018.0,[document],0.0,NaN,NaN,NaN,0.0
PRT170008,24,sample_a_year_1_arm_1,Michele,M,Brown,1962-07-20,PRT170008,NaN,76501-0016,841839405,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0

In [146]:
s1.to_csv("sample_a_year_1_arm_1.csv")

In [148]:
say2 = pd.read_csv("sample_a_year_2_arm_1.csv")

In [149]:
say2.shape

(73, 444)

In [19]:
#list(s1)

In [150]:
temp2 = say2.dropna(axis=1)

In [151]:
temp2.shape

(73, 8)

In [153]:
temp2.describe()

,Unnamed: 0,blood_sample_complete,stool_sample_complete,urine_sample_complete,saliva_sample_complete,t_mri_complete
count,73.000000,73.000000,73.000000,73.0,73.0,73.0
mean,473.753425,1.780822,0.383562,0.0,0.0,0.0
std,341.525816,0.629077,0.792852,0.0,0.0,0.0
min,9.000000,0.000000,0.000000,0.0,0.0,0.0
25%,218.000000,2.000000,0.000000,0.0,0.0,0.0
50%,374.000000,2.000000,0.000000,0.0,0.0,0.0
75%,716.000000,2.000000,0.000000,0.0,0.0,0.0
max,1325.000000,2.000000,2.000000,0.0,0.0,0.0

In [154]:
say2.set_index('id_participant', inplace=True)
say2.update(arm1.set_index('id_participant'),overwrite=False)
say2.reset_index()

,id_participant,Unnamed: 0,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
0,PRT170003,9,sample_a_year_2_arm_1,Lisa,A,Stuczynski,1966-10-02,PRT170003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
1,PRT170007,21,sample_a_year_2_arm_1,Julie,A,Higdon,1972-07-03,PRT170007,NaN,76501-0002,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
2,PRT170009,29,sample_a_year_2_arm_1,Christine,S,Dietz,1959-06-04,PRT170009,REDCAP RECORD ID 3,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
3,PRT170014,45,sample_a_year_2_arm_1,Richard,S,Woodruff,1952-10-18,PRT170014,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
4,PRT170021,67,sample_a_year_2_arm_1,David,R,Shaffer,1949-07-02,PRT170021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
5,PRT170022,73,sample_a_year_2_arm_1,Sharon,NaN,Skrabski,1963-08-25,PRT170022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
6,PRT170023,79,sample_a_year_2_arm_1,CELESTE,NaN,FLAHERTY-THOMAS,1976-03-29,PRT170023,REDCAP RECORD ID 2,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
7,PRT170024,84,sample_a_year_2_arm_1,LINDA,R,SMITH,1957-01-05,PRT170024,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
8,PRT170025,88,sample_a_year_2_arm_1,DEBRA,NaN,BISBEY,1956-12-16,PRT170025,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
9,PRT170029,102,sample_a_year_2_arm_1,KATHY,K,METZ,1957-02-22,PRT170029,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
10,PRT170030,107,sample_a_year_2_arm_1,LISA,K,MOORE,1966-05-24,PRT170030,NaN,76501-0001,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
11,PRT170034,121,sample_a_year_2_arm_1,DANIEL,N,LOEBIG,1957-05-30,PRT170034,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
12,PRT170037,131,sample_a_year_2_arm_1,Dorothy,NaN,Bolen,1968-10-11,PRT170037,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
13,PRT170041,142,sample_a_year_2_arm_1,Michelle,M,Palicka,1971-03-28,PRT170041,NaN,76501-0014,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-11-01,2018-11-15,NaN,2.0
14,PRT170042,147,sample_a_year_2_arm_1,Shawn,M,Voynick,1977-05-21,PRT170042,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
15,PRT170049,167,sample_a_year_2_arm_1,MEGAN,NaN,TULIKANGAS,1980-01-02,PRT170049,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
16,PRT170058,189,sample_a_year_2_arm_1,Sarah,NaN,Ford,1986-08-06,PRT170058,REDCAP RECORD ID 30,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
17,PRT170059,194,sample_a_year_2_arm_1,Paula,S,Exler,1959-08-29,PRT170059,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
18,PRT170072,218,sample_a_year_2_arm_1,Lois,M,Treloar,1948-05-18,PRT170072,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
19,PRT170073,223,sample_a_year_2_arm_1,TAMMY,L,JACKSON,1962-07-11,PRT170073,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-08-28,NaN,NaN,0.0
20,PRT170074,229,sample_a_year_2_arm_1,MICHAEL,S,SEAMON,1962-10-04,PRT170074,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
21,PRT170080,245,sample_a_year_2_arm_1,Elizabeth,NaN,De Lyser,1990-01-18,PRT170080,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
22,PRT170081,250,sample_a_year_2_arm_1,Heather,L,Adams,1974-04-12,PRT170081,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
23,prt170082,255,sample_a_year_2_arm_1,Maliha,NaN,Zahid,1968-12-20,PRT170082,REDCap ID #42,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
24,PRT170083,261,sample_a_year_2_arm_1,Angela,NaN,Pasquini,1961-09-29,PRT170083,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
25,PRT170085,267,sample_a_year_2_arm_1,Stacy,Lynn,Digga,1980-06-16,PRT170085,REDCap ID#47,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
26,PRT170088,277,sample_a_year_2_arm_1,Kimberly,M,Dodin,1986-02-04,PRT170088,NaN,76501-0028,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-09-11,2018-09-29,NaN,2.0
27,PRT170089,282,sample_a_year_2_arm_1,Jacqueline,NaN,Austin,1970-06-03,PRT170089,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
28,PRT170095,294,sample_a_year_2_arm_1,Burnard,NaN,Malloy,1947-07-01,PRT170095,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
29,PRT170096,298,sample_a_year_2_arm_1,Irene,M,Eberz,1963-08-03,PRT170096,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,PRT170162,489,sample_a_year_2_arm_1,MICAHLEE,NaN,DAVIS,1985-03-04,PRT170162,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
44,PRT170175,515,sample_a_year_2_arm_1,Kathleen,NaN,McCracken,1962-02-07,PRT170175,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
45,PRT170181,529,sample_a_year_2_arm_1,CAROL,A,DAILEY,1955-10-05,PRT170181,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
46,PRT170190,550,sample_a_year_2_arm_1,PATRICIA,O,MALONEY,1962-02-13,PRT170190,Record ID 263(PROMOTE) 95(STOOL),NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
47,PRT170217,609,sample_a_year_2_arm_1,Jennifer,L,Stridinger,1964-07-12,PRT170217,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
48,PRT170221,622,sample_a_year_2_arm_1,Terrance,NaN,Steiner,1948-10-30,PRT170221,Record ID 135,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-08-28,2018-09-10,NaN,2.0
49,PRT170225,638,sample_a_year_2_arm_1,Samuel,NaN,McVeigh Jr,1944-06-05,PRT170225,NaN,76501-0006,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
50,PRT170241,666,sample_a_year_2_arm_1,MICHAEL,J,BECK,1962-01-28,PRT170241,Primary QustionairreID #: 381,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
51,PRT170245,680,sample_a_year_2_arm_1,Terri,J,Semon,1961-10-12,PRT170245,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
52,PRT170251,695,sample_a_year_2_arm_1,JOCELYN,R,MILBY,1977-11-17,PRT170251,NaN,76501-0033,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
53,PRT170253,703,sample_a_year_2_arm_1,KATHLEEN,ANN,MULVEY,1960-12-22,PRT170253,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
54,PRT170259,716,sample_a_year_2_arm_1,TERRA SUE,NaN,SEFCHECK,1951-02-28,PRT170259,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
55,PRT170265,731,sample_a_year_2_arm_1,Joan,NaN,Skweres,1950-06-09,PRT170265,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-08-21,2018-08-31,NaN,2.0
56,PRT170266,735,sample_a_year_2_arm_1,Erina,NaN,Weidenbacher,1983-10-09,PRT170266,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-10-30,2018-11-13,NaN,2.0
57,PRT170282,773,sample_a_year_2_arm_1,WILLIAM,J,ADAMS,1981-09-04,PRT170282,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
58,PRT170283,778,sample_a_year_2_arm_1,DONNA,L,GILES,1964-11-02,PRT170283,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
59,PRT170291,799,sample_a_year_2_arm_1,SARAH,NaN,PARSONS,1985-11-16,PRT170291,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
60,PRT170310,839,sample_a_year_2_arm_1,KATHLEEN,A,McConahy,1958-12-10,PRT170310,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
61,PRT170335,894,sample_a_year_2_arm_1,VICKI,NaN,SCHNEIDER,1957-07-02,PRT170335,NaN,76501-0017,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
62,PRT170339,905,sample_a_year_2_arm_1,Lisa,NaN,Colatruglio,1984-11-24,PRT170339,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2018-10-16,NaN,2.0
63,PRT170371,969,sample_a_year_2_arm_1,Melinda,NaN,Resetar,1972-09-24,PRT170371,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
64,PRT170377,986,sample_a_year_2_arm_1,Jessica,NaN,Brigich,1984-11-14,PRT170377,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
65,PRT170382,1001,sample_a_year_2_arm_1,DAVINE,NaN,MORRIS,1968-09-23,PRT170382,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
66,PRT170397,1028,sample_a_year_2_arm_1,Frankie,NaN,Marazza,1995-09-05,PRT170396,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
67,PRT170406,1048,sample_a_year_2_arm_1,Andrew,NaN,Krowsoski,1960-11-18,PRT170406,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-08-14,NaN,NaN,0.0
68,PRT170417,1068,sample_a_year_2_arm_1,Danielle,M,Tetteh,1973-11-15,PRT170417,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
69,PRT170439,1109,sample_a_year_2_arm_1,ROBIN,NaN,TALERICO,1979-08-24,PRT170439,NaN,76501-0024,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
70,PRT170453,1139,sample_a_year_2_arm_1,Mason,A,Tuite,1991-02-25,PRT170453,NaN,76501-0025,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-10-16,NaN,NaN,0.0
71,PRT170485,1208,sample_a_year_2_arm_1,Richard,C,Kimmerle,1961-08-01,PRT170484,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
72,PRT170544,1325,sample_a_year_2_arm_1,Abby,NaN,Bezilla,1979-09-07,PRT170544,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0

In [155]:
say2.to_csv('sample_a_year_2_arm_1.csv')

In [156]:
sby1 = pd.read_csv("sample_b_year_1_arm_1.csv")

In [157]:
temp3 = sby1.dropna(axis=1)

In [158]:
temp2.describe()

,Unnamed: 0,blood_sample_complete,stool_sample_complete,urine_sample_complete,saliva_sample_complete,t_mri_complete
count,73.000000,73.000000,73.000000,73.0,73.0,73.0
mean,473.753425,1.780822,0.383562,0.0,0.0,0.0
std,341.525816,0.629077,0.792852,0.0,0.0,0.0
min,9.000000,0.000000,0.000000,0.0,0.0,0.0
25%,218.000000,2.000000,0.000000,0.0,0.0,0.0
50%,374.000000,2.000000,0.000000,0.0,0.0,0.0
75%,716.000000,2.000000,0.000000,0.0,0.0,0.0
max,1325.000000,2.000000,2.000000,0.0,0.0,0.0

In [159]:
sby1.set_index('id_participant', inplace=True)
sby1.update(arm1.set_index('id_participant'),overwrite=False)
sby1.reset_index()

,id_participant,Unnamed: 0,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
0,PRT170001,3,sample_b_year_1_arm_1,Amar,NaN,Shiwlochan,1993-01-14,PRT170001,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
1,PRT170007,20,sample_b_year_1_arm_1,Julie,A,Higdon,1972-07-03,PRT170007,NaN,76501-0002,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
2,PRT170009,28,sample_b_year_1_arm_1,Christine,S,Dietz,1959-06-04,PRT170009,REDCAP RECORD ID 3,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
3,PRT170011,36,sample_b_year_1_arm_1,Lizandra,S,Wyland,1984-11-10,PRT170011,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
4,PRT170014,44,sample_b_year_1_arm_1,Richard,S,Woodruff,1952-10-18,PRT170014,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
5,PRT170015,49,sample_b_year_1_arm_1,Susan,M,Klingler,1956-08-10,PRT170015,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
6,PRT170016,53,sample_b_year_1_arm_1,Mary,L,Fischer,1942-02-04,PRT170016,NaN,76501-0035,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
7,PRT170020,62,sample_b_year_1_arm_1,JENNY,NaN,HULL,1972-03-11,PRT170020,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
8,PRT170021,66,sample_b_year_1_arm_1,David,R,Shaffer,1949-07-02,PRT170021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
9,PRT170022,72,sample_b_year_1_arm_1,Sharon,NaN,Skrabski,1963-08-25,PRT170022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
10,PRT170023,77,sample_b_year_1_arm_1,CELESTE,NaN,FLAHERTY-THOMAS,1976-03-29,PRT170023,REDCAP RECORD ID 2,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
11,PRT170024,83,sample_b_year_1_arm_1,LINDA,R,SMITH,1957-01-05,PRT170024,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
12,PRT170027,95,sample_b_year_1_arm_1,EDWARD,NaN,BROWN,1976-01-25,PRT170027,Record ID 29(PROMOTE),NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
13,PRT170029,101,sample_b_year_1_arm_1,KATHY,K,METZ,1957-02-22,PRT170029,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
14,PRT170030,106,sample_b_year_1_arm_1,LISA,K,MOORE,1966-05-24,PRT170030,NaN,76501-0001,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
15,PRT170031,112,sample_b_year_1_arm_1,LISA,J,FRATTO,1967-10-03,PRT170031,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
16,PRT170034,120,sample_b_year_1_arm_1,DANIEL,N,LOEBIG,1957-05-30,PRT170034,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
17,PRT170037,130,sample_b_year_1_arm_1,Dorothy,NaN,Bolen,1968-10-11,PRT170037,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
18,PRT170041,141,sample_b_year_1_arm_1,Michelle,M,Palicka,1971-03-28,PRT170041,NaN,76501-0014,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-11-01,2018-11-15,NaN,2.0
19,PRT170042,146,sample_b_year_1_arm_1,Shawn,M,Voynick,1977-05-21,PRT170042,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
20,PRT170044,153,sample_b_year_1_arm_1,Dymphna,NaN,NOVAK,1961-12-03,PRT170044,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
21,PRT170047,160,sample_b_year_1_arm_1,Cynthia,E,Allshouse,1968-08-13,PRT170047,NaN,76501-0003,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
22,PRT170049,166,sample_b_year_1_arm_1,MEGAN,NaN,TULIKANGAS,1980-01-02,PRT170049,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
23,PRT170058,188,sample_b_year_1_arm_1,Sarah,NaN,Ford,1986-08-06,PRT170058,REDCAP RECORD ID 30,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
24,PRT170059,193,sample_b_year_1_arm_1,Paula,S,Exler,1959-08-29,PRT170059,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
25,PRT170072,217,sample_b_year_1_arm_1,Lois,M,Treloar,1948-05-18,PRT170072,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
26,PRT170074,228,sample_b_year_1_arm_1,MICHAEL,S,SEAMON,1962-10-04,PRT170074,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
27,PRT170076,234,sample_b_year_1_arm_1,MARY JANE,NaN,ROSS,1954-07-18,PRT170076,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
28,PRT170080,244,sample_b_year_1_arm_1,Elizabeth,NaN,De Lyser,1990-01-18,PRT170080,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
29,PRT170081,249,sample_b_year_1_arm_1,Heather,L,Adams,1974-04-12,PRT170081,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,PRT170511,1255,sample_b_year_1_arm_1,TRACY,NaN,MUELLER,1962-11-02,PRT170511,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
120,PRT170519,1270,sample_b_year_1_arm_1,Louis,NaN,Weiss,1956-05-15,PRT170519,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
121,PRT170524,1281,sample_b_year_1_arm_1,PATRICE,B,HLAD,1963-07-22,PRT170524,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
122,PRT170533,1302,sample_b_year_1_arm_1,PAULA,S,ELLEBIE,1964-12-06,PRT170533,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
123,PRT170544,1324,sample_b_year_1_arm_1,Abby,NaN,Bezilla,1979-09-07,PRT170544,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
124,PRT170548,1334,sample_b_year_1_arm_1,Wendy,NaN,Zellner,1959-10-24,PRT170548,NaN,76501-0038,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
125,PRT170551,1342,sample_b_year_1_arm_1,MELISA,NaN,KENNEDY,1973-07-20,PRT170551,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-09-18,2018-10-04,NaN,2.0
126,PRT170552,1346,sample_b_year_1_arm_1,JONI,NaN,JACKSON,1980-07-30,PRT170552,NaN,76501-0050,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
127,PRT180560,1361,sample_b_year_1_arm_1,VANESSA,B,CALDWELL,1982-05-27,PRT180560,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
128,PRT180564,1369,sample_b_year_1_arm_1,HAILEY,NaN,ISIMINGER,1989-10-17,PRT180564,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
129,PRT180565,1373,sample_b_year_1_arm_1,JENNA,NaN,SHIELDS,1984-08-26,PRT180565,NaN,76501-0041,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
130,PRT180566,1376,sample_b_year_1_arm_1,BRIAN,NaN,COUPLAND,1988-07-07,PRT180566,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-09-18,2018-12-06,NaN,2.0
131,PRT180573,1395,sample_b_year_1_arm_1,APRIL,C,YEO,1962-08-18,PRT180573,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
132,PRT180583,1413,sample_b_year_1_arm_1,ANNE,KATHERINE,JONES,1972-08-20,PRT180583,NaN,76501-0037,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
133,PRT180588,1421,sample_b_year_1_arm_1,Jennifer,NaN,Ball,1975-09-12,PRT180588,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
134,PRT180591,1428,sample_b_year_1_arm_1,JACQUELYN,E,NAGY,1973-03-21,PRT180591,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
135,PRT180622,1489,sample_b_year_1_arm_1,PAULO,SAMUEL P,CARVALHO,1986-07-13,PRT180622,NaN,76501-0039,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
136,PRT180625,1497,sample_b_year_1_arm_1,MARCIE,L,UNRUE,1968-12-27,PRT180625,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
137,PRT180637,1522,sample_b_year_1_arm_1,KATHLEEN,M,LIBELL-MOHR,1971-05-21,PRT180637,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
138,PRT180651,1551,sample_b_year_1_arm_1,PAUL,NaN,BELICK,1975-08-18,PRT180651,NaN,76501-0042,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
139,PRT180658,1566,sample_b_year_1_arm_1,JASON,NaN,HALLMARK,1987-09-15,PRT180658,NaN,76501-0046,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
140,PRT180659,1570,sample_b_year_1_arm_1,JOSEPH,C,TRELOAR,1957-05-30,PRT180659,NaN,76501-0045,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
141,PRT180715,1673,sample_b_year_1_arm_1,Robert,NaN,Brice,1951-09-18,PRT180715,NaN,76501-0049,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-07-31,2018-08-21,NaN,2.0
142,PRT180718,1678,sample_b_year_1_arm_1,John,B,Egan,1971-05-19,PRT180718,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-08-07,2018-08-17,NaN,2.0
143,PRT180730,1702,sample_b_year_1_arm_1,Linda,NaN,Varner,1958-11-02,PRT180730,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
144,PRT180740,1724,sample_b_year_1_arm_1,Bryan,NaN,Menke,1972-10-11,PRT180740,NaN,76501-0053,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-09-11,2018-11-03,NaN,2.0
145,PRT180770,1773,sample_b_year_1_arm_1,Ruth,A,Fauman-Fichman,1955-09-17,PRT180770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
146,PRT180787,1796,sample_b_year_1_arm_1,Debra,NaN,Galley,1951-10-17,PRT180787,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-10-30,2018-12-01,NaN,2.0
147,PRT180789,1801,sample_b_year_1_arm_1,Amy,NaN,Paciulli,1973-04-29,PRT180789,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
148,PRT180790,1805,sample_b_year_1_arm_1,Kathy,NaN,Fester,1956-01-13,PRT180790,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-10-30,2018-11-29,NaN,2.0

In [160]:
sby1.to_csv('sample_b_year_1_arm_1.csv')

In [161]:
scy1 = pd.read_csv("sample_c_year_1_arm_1.csv")
temp4 = scy1.dropna(axis=1)
temp4.describe()

,Unnamed: 0,blood1_dmt,blood1_dmt_detail,blood1_dna,blood_sample_complete,stool_sample_complete,t_mri_complete
count,2.000000,2.0,2.000000,2.0,2.0,2.000000,2.0
mean,482.500000,1.0,7.000000,1.0,2.0,1.000000,0.0
std,572.049386,0.0,4.242641,0.0,0.0,1.414214,0.0
min,78.000000,1.0,4.000000,1.0,2.0,0.000000,0.0
25%,280.250000,1.0,5.500000,1.0,2.0,0.500000,0.0
50%,482.500000,1.0,7.000000,1.0,2.0,1.000000,0.0
75%,684.750000,1.0,8.500000,1.0,2.0,1.500000,0.0
max,887.000000,1.0,10.000000,1.0,2.0,2.000000,0.0

In [162]:
scy1.set_index('id_participant', inplace=True)
scy1.update(arm1.set_index('id_participant'),overwrite=False)
scy1.reset_index()

,id_participant,Unnamed: 0,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
0,PRT170023,78,sample_c_year_1_arm_1,CELESTE,NaN,FLAHERTY-THOMAS,1976-03-29,PRT170023,REDCAP RECORD ID 2,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
1,PRT170333,887,sample_c_year_1_arm_1,JOAN,NaN,ODONNELL,1963-09-16,PRT170333,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-08-21,2018-09-08,NaN,2.0

In [163]:
scy1.to_csv('sample_c_year_1_arm_1.csv')

In [164]:
sdy1 = pd.read_csv("sample_d_year_1_arm_1.csv")
temp5 = sdy1.dropna(axis=1)
temp5.describe()

,Unnamed: 0,blood_sample_complete,stool_eligibile,stool_sample_complete,t_mri_complete
count,1.0,1.0,1.0,1.0,1.0
mean,888.0,0.0,3.0,2.0,0.0
std,NaN,NaN,NaN,NaN,NaN
min,888.0,0.0,3.0,2.0,0.0
25%,888.0,0.0,3.0,2.0,0.0
50%,888.0,0.0,3.0,2.0,0.0
75%,888.0,0.0,3.0,2.0,0.0
max,888.0,0.0,3.0,2.0,0.0

In [165]:
sdy1.set_index('id_participant', inplace=True)
sdy1.update(arm1.set_index('id_participant'),overwrite=False)
sdy1.reset_index()

,id_participant,Unnamed: 0,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
0,PRT170333,888,sample_d_year_1_arm_1,JOAN,NaN,ODONNELL,1963-09-16,PRT170333,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-08-21,2018-09-08,NaN,2.0

In [166]:
sdy1.to_csv('sample_d_year_1_arm_1.csv')

In [168]:
y1 = pd.read_csv("year_1_arm_1.csv")
temp6 = y1.dropna(axis=1)
temp6.describe()

,Unnamed: 0,csf_sample_complete,dna_sample_complete,tug_observation___0,tug_observation___1,tug_observation___2,tug_observation___3,tug_observation___4,tug_observation___5,tug_observation___6,tug_observation___7,functional_testing_complete,edss_complete,sensor_complete,cognitive_testing_complete,social_network_complete
count,452.000000,452.000000,452.0,452.0,452.0,452.0,452.0,452.0,452.0,452.0,452.0,452.000000,452.000000,452.0,452.0,452.000000
mean,896.692478,0.053097,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.022124,0.053097,0.0,0.0,1.256637
std,518.658803,0.321877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.209417,0.321877,0.0,0.0,0.967579
min,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000
25%,457.500000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000
50%,910.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,2.000000
75%,1338.500000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,2.000000
max,1862.000000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.000000,2.000000,0.0,0.0,2.000000

In [170]:
y1.isnull().sum()

Unnamed: 0                         0
id_participant                     0
redcap_event_name                  0
name_first                       452
name_middle                      452
name_last                        452
dob                              452
id_primary                       452
id_secondary                     452
id_imsms                         452
id_med_record_number             452
subject_group                    452
recruitment_source               452
recruitment_source_other         452
enrollment_site                  452
other_enrollment                 452
msdx_recruitment                 452
msdx_current                     452
medical_release                  452
msdx_validated                   452
msdx_validated_upload            452
date_firstsx                     452
age_firstsx                      452
type_firstsx                     452
date_msdx                        452
method_msdx___1                  452
method_msdx___2                  452
method_msdx___3                  452
method_msdx___4                  452
msdx_documentation               452
                                ...
dmt_sixth_end                    452
dmt_seventh                      452
dmt_seventh_start                452
dmt_seventh_end                  452
dmt_eighth                       452
dmt_eighth_start                 452
dmt_eighth_end                   452
dmt_ninth                        452
dmt_ninth_start                  452
dmt_ninth_end                    452
dmt_tenth                        452
dmt_tenth_start                  452
dmt_tenth_end                    452
dmt_history_complete             452
mri_screening_complete           452
mri_screening_eligible           452
mri_scan_research                452
mri_scan_clinical                452
mri_consent_how                  452
mri_date_electronic_sent         452
mri_date_mail_sent               452
mri_date_signed_consent          452
mri_version_consent_form         452
mri_version_date_consent_form    452
mri_consent_pdf                  452
t_mri_complete                   452
tdate_order                      452
tdate_completion                 452
notes_3t                         452
subtle_3t_mri_complete           452
Length: 444, dtype: int64

In [171]:
temp6.shape

(452, 18)

In [172]:
y1.set_index('id_participant', inplace=True)
y1.update(arm1.set_index('id_participant'),overwrite=False)
y1.reset_index()

,id_participant,Unnamed: 0,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
0,PRT170001,1,year_1_arm_1,Amar,NaN,Shiwlochan,1993-01-14,PRT170001,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,PRT170002,5,year_1_arm_1,Catherine,V,Liadis,1950-02-23,PRT170002,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,PRT170003,7,year_1_arm_1,Lisa,A,Stuczynski,1966-10-02,PRT170003,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,PRT170004,11,year_1_arm_1,Joe,A,Citro,1958-09-06,PRT170004,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,PRT170005,14,year_1_arm_1,Harry,M,Rubenstein,1959-06-13,PRT170005,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5,PRT170006,16,year_1_arm_1,Richard,NaN,Paul,1968-03-05,PRT170006,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6,PRT170007,18,year_1_arm_1,Julie,A,Higdon,1972-07-03,PRT170007,NaN,76501-0002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7,PRT170008,23,year_1_arm_1,Michele,M,Brown,1962-07-20,PRT170008,NaN,76501-0016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8,PRT170009,26,year_1_arm_1,Christine,S,Dietz,1959-06-04,PRT170009,REDCAP RECORD ID 3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
9,PRT170010,31,year_1_arm_1,Mary,T,Briguglio,1951-09-25,PRT170010,REDCAP RECORD ID #4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10,PRT170011,34,year_1_arm_1,Lizandra,S,Wyland,1984-11-10,PRT170011,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11,PRT170012,38,year_1_arm_1,William,P,Becker,1962-12-26,PRT170012,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12,PRT170013,40,year_1_arm_1,Brad,G,Gavlik,1982-05-27,PRT170013,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13,PRT170014,42,year_1_arm_1,Richard,S,Woodruff,1952-10-18,PRT170014,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
14,PRT170015,47,year_1_arm_1,Susan,M,Klingler,1956-08-10,PRT170015,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
15,PRT170016,51,year_1_arm_1,Mary,L,Fischer,1942-02-04,PRT170016,NaN,76501-0035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
16,PRT170018,56,year_1_arm_1,JAMI,B,CHIMILE,1977-03-08,PRT170018,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
17,PRT170019,58,year_1_arm_1,ARLYNE,NaN,FENSTER,1941-12-27,PRT170019,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
18,PRT170020,60,year_1_arm_1,JENNY,NaN,HULL,1972-03-11,PRT170020,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
19,PRT170021,64,year_1_arm_1,David,R,Shaffer,1949-07-02,PRT170021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20,PRT170022,70,year_1_arm_1,Sharon,NaN,Skrabski,1963-08-25,PRT170022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
21,PRT170023,75,year_1_arm_1,CELESTE,NaN,FLAHERTY-THOMAS,1976-03-29,PRT170023,REDCAP RECORD ID 2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
22,PRT170024,81,year_1_arm_1,LINDA,R,SMITH,1957-01-05,PRT170024,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
23,PRT170025,87,year_1_arm_1,DEBRA,NaN,BISBEY,1956-12-16,PRT170025,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
24,PRT170026,90,year_1_arm_1,SUSAN,B,REVAY,1964-02-12,PRT170026,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
25,PRT170027,93,year_1_arm_1,EDWARD,NaN,BROWN,1976-01-25,PRT170027,Record ID 29(PROMOTE),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
26,PRT170028,97,year_1_arm_1,KIMBERLY,A,GRANER,1956-12-18,PRT170028,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
27,PRT170029,99,year_1_arm_1,KATHY,K,METZ,1957-02-22,PRT170029,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
28,PRT170030,104,year_1_arm_1,LISA,K,MOORE,1966-05-24,PRT170030,NaN,76501-0001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
29,PRT170031,110,year_1_arm_1,LISA,J,FRATTO,1967-10-03,PRT170031,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,PRT180715,1671,year_1_arm_1,Robert,NaN,Brice,1951-09-18,PRT180715,NaN,76501-0049,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-31,2018-08-21,NaN,2.0
423,PRT180725,1688,year_1_arm_1,Elvira,NaN,Dillard,1968-07-12,PRT180725,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-21,2018-09-06,NaN,2.0
424,PRT180726,1691,year_1_arm_1,Nancy,V,Poziviak,1952-10-20,PRT180726,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
425,PRT180727,1693,year_1_arm_1,Nicholas,R,Johnson,1982-04-19,PRT180727,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-14,2018-09-01,NaN,2.0
426,PRT180728,1696,year_1_arm_1,Genay,NaN,Bailey,1989-09-29,PRT180728,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
427,PRT180729,1698,year_1_arm_1,Michael,NaN,Bright,1978-10-20,PRT180729,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
428,PRT180730,1700,year_1_arm_1,Linda,NaN,Varner,1958-11-02,PRT180730,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
429,PRT180732,1706,year_1_arm_1,Mari,Neysa (preferred),Cotchen,1957-02-13,PRT180732,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-28,2018-09-10,NaN,2.0
430,PRT180734,1710,year_1_arm_1,Thomas,J,Lollo,1981-06-17,PRT180734,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
431,PRT180736,1713,year_1_arm_1,Kenneth,NaN,Dyer,1966-05-03,PRT180736,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
432,PRT180737,1716,year_1_arm_1,Amy,NaN,Markel,1966-01-09,PRT180737,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
433,PRT180738,1718,year_1_arm_1,Samantha,NaN,Opferman,1968-09-29,PRT180738,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
434,PRT180739,1720,year_1_arm_1,Heidi,NaN,Croyle,1970-11-07,PRT180738,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
435,PRT180740,1722,year_1_arm_1,Bryan,NaN,Menke,1972-10-11,PRT180740,NaN,76501-0053,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-11,2018-11-03,NaN,2.0
436,PRT180743,1729,year_1_arm_1,Lisa,M,Moniodes,1964-07-18,PRT180743,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
437,PRT180744,1731,year_1_arm_1,Charleen,NaN,Brown,1952-05-12,PRT180744,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
438,PRT180745,1733,year_1_arm_1,Pamela,R,Hershey,1981-05-30,PRT180745,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-13,NaN,NaN,0.0
439,PRT180747,1736,year_1_arm_1,Susan,E,Kraus,1968-01-09,PRT180747,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
440,PRT180750,1741,year_1_arm_1,Sarah,NaN,Massack,1982-07-08,PRT180750,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
441,PRT180752,1744,year_1_arm_1,Cynthia,L,Jennings,1963-05-23,PRT180752,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
442,PRT180753,1746,year_1_arm_1,Andrea,NaN,Asvestas,1968-01-06,PRT180753,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
443,PRT180754,1748,year_1_arm_1,Chante,NaN,Henze,1979-08-24,PRT180754,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
444,PRT180755,1750,year_1_arm_1,Anthony,NaN,Yarkowski,1982-09-29,PRT180755,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
445,PRT180761,1757,year_1_arm_1,Renea,NaN,Smith,1959-02-23,PRT180761,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
446,PRT180767,1766,year_1_arm_1,Daralynn,C,Gordon,1981-10-12,PRT180767,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-02,2018-11-19,NaN,2.0
447,PRT180770,1771,year_1_arm_1,Ruth,A,Fauman-Fichman,1955-09-17,PRT180770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
448,PRT180779,1784,year_1_arm_1,Lisa,Ann,Palm,1975-07-26,PRT180779,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
449,PRT180789,1799,year_1_arm_1,Amy,NaN,Paciulli,1973-04-29,PRT180789,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
450,PRT180790,1803,year_1_arm_1,Kathy,NaN,Fester,1956-01-13,PRT180790,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-30,2018-11-29,NaN,2.0
451,PRT180842,1862,year_1_arm_1,Sharon,M,Moore,1956-03-16,PRT180842,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [173]:
y1.to_csv('year_1_arm_1.csv')

In [174]:
sby2 = pd.read_csv("sample_b_year_2_arm_1.csv")
temp7 = sby2.dropna(axis = 1)
temp7.shape

(12, 9)

In [175]:
temp7.describe()

,Unnamed: 0,blood_sample_complete,stool_eligibile,stool_sample_complete,urine_sample_complete,saliva_sample_complete,t_mri_complete
count,12.000000,12.000000,12.000000,12.000000,12.0,12.0,12.0
mean,358.250000,0.166667,2.833333,1.666667,0.0,0.0,0.0
std,236.217206,0.577350,0.577350,0.778499,0.0,0.0,0.0
min,68.000000,0.000000,1.000000,0.000000,0.0,0.0,0.0
25%,191.250000,0.000000,3.000000,2.000000,0.0,0.0,0.0
50%,302.000000,0.000000,3.000000,2.000000,0.0,0.0,0.0
75%,542.750000,0.000000,3.000000,2.000000,0.0,0.0,0.0
max,717.000000,2.000000,3.000000,2.000000,0.0,0.0,0.0

In [176]:
sby2.set_index('id_participant', inplace=True)
sby2.update(arm1.set_index('id_participant'),overwrite=False)
sby2.reset_index()

,id_participant,Unnamed: 0,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
0,PRT170021,68,sample_b_year_2_arm_1,David,R,Shaffer,1949-07-02,PRT170021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
1,PRT170024,85,sample_b_year_2_arm_1,LINDA,R,SMITH,1957-01-05,PRT170024,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
2,PRT170030,108,sample_b_year_2_arm_1,LISA,K,MOORE,1966-05-24,PRT170030,NaN,76501-0001,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
3,PRT170072,219,sample_b_year_2_arm_1,Lois,M,Treloar,1948-05-18,PRT170072,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
4,PRT170073,224,sample_b_year_2_arm_1,TAMMY,L,JACKSON,1962-07-11,PRT170073,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-08-28,NaN,NaN,0.0
5,prt170082,256,sample_b_year_2_arm_1,Maliha,NaN,Zahid,1968-12-20,PRT170082,REDCap ID #42,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
6,PRT170110,348,sample_b_year_2_arm_1,Kenneth,NaN,Selzer,1947-08-06,PRT170110,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
7,PRT170144,439,sample_b_year_2_arm_1,Merri,I,Bindas,1963-05-30,PRT170144,NaN,76501-0009,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
8,PRT170175,516,sample_b_year_2_arm_1,Kathleen,NaN,McCracken,1962-02-07,PRT170175,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
9,PRT170221,623,sample_b_year_2_arm_1,Terrance,NaN,Steiner,1948-10-30,PRT170221,Record ID 135,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,2018-08-28,2018-09-10,NaN,2.0
10,PRT170251,696,sample_b_year_2_arm_1,JOCELYN,R,MILBY,1977-11-17,PRT170251,NaN,76501-0033,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
11,PRT170259,717,sample_b_year_2_arm_1,TERRA SUE,NaN,SEFCHECK,1951-02-28,PRT170259,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0

In [177]:
sby2.to_csv('sample_b_year_2_arm_1.csv')

In [178]:
arm2_files = [x for x in list_events if 'arm_2' in x]
arm2_files

['consent_initial_vi_arm_2', 'year_1a_arm_2', 'year_2_arm_2']

In [179]:
arm2 = pd.read_csv("consent_initial_vi_arm_2.csv")

In [185]:
arm2.shape

(72, 444)

In [184]:
arm2.isnull().sum()

Unnamed: 0                        0
id_participant                    0
redcap_event_name                 0
name_first                        0
name_middle                      65
name_last                         0
dob                              48
id_primary                        1
id_secondary                     70
id_imsms                         43
id_med_record_number             66
subject_group                     0
recruitment_source               29
recruitment_source_other         63
enrollment_site                  10
other_enrollment                 54
msdx_recruitment                 19
msdx_current                     24
medical_release                  55
msdx_validated                   57
msdx_validated_upload            72
date_firstsx                     71
age_firstsx                      71
type_firstsx                     71
date_msdx                        72
method_msdx___1                   0
method_msdx___2                   0
method_msdx___3                   0
method_msdx___4                   0
msdx_documentation               72
                                 ..
dmt_sixth_end                    72
dmt_seventh                      72
dmt_seventh_start                72
dmt_seventh_end                  72
dmt_eighth                       72
dmt_eighth_start                 72
dmt_eighth_end                   72
dmt_ninth                        72
dmt_ninth_start                  72
dmt_ninth_end                    72
dmt_tenth                        72
dmt_tenth_start                  72
dmt_tenth_end                    72
dmt_history_complete             72
mri_screening_complete           71
mri_screening_eligible           70
mri_scan_research                72
mri_scan_clinical                72
mri_consent_how                  70
mri_date_electronic_sent         72
mri_date_mail_sent               72
mri_date_signed_consent          71
mri_version_consent_form         70
mri_version_date_consent_form    70
mri_consent_pdf                  70
t_mri_complete                    0
tdate_order                      72
tdate_completion                 72
notes_3t                         72
subtle_3t_mri_complete           72
Length: 444, dtype: int64

In [186]:
arm2.describe()

,Unnamed: 0,id_med_record_number,subject_group,recruitment_source,enrollment_site,msdx_recruitment,msdx_current,medical_release,msdx_validated,msdx_validated_upload,...,mri_consent_how,mri_date_electronic_sent,mri_date_mail_sent,mri_version_consent_form,mri_version_date_consent_form,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
count,72.000000,6.000000e+00,72.000000,43.000000,62.000000,53.000000,48.000000,17.0,15.0,0.0,...,2.0,0.0,0.0,2.0,2.0,72.0,0.0,0.0,0.0,0.0
mean,1267.500000,7.909471e+08,2.972222,30.511628,1.451613,0.018868,0.020833,0.0,0.0,NaN,...,0.0,NaN,NaN,1.0,2018.0,0.0,NaN,NaN,NaN,NaN
std,543.881045,5.652674e+07,0.235702,31.096143,1.301669,0.137361,0.144338,0.0,0.0,NaN,...,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
min,182.000000,7.377603e+08,1.000000,12.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,...,0.0,NaN,NaN,1.0,2018.0,0.0,NaN,NaN,NaN,NaN
25%,833.500000,7.401163e+08,3.000000,12.000000,0.000000,0.000000,0.000000,0.0,0.0,NaN,...,0.0,NaN,NaN,1.0,2018.0,0.0,NaN,NaN,NaN,NaN
50%,1443.000000,7.908312e+08,3.000000,18.000000,2.000000,0.000000,0.000000,0.0,0.0,NaN,...,0.0,NaN,NaN,1.0,2018.0,0.0,NaN,NaN,NaN,NaN
75%,1754.750000,8.426059e+08,3.000000,19.000000,3.000000,0.000000,0.000000,0.0,0.0,NaN,...,0.0,NaN,NaN,1.0,2018.0,0.0,NaN,NaN,NaN,NaN
max,1928.000000,8.431845e+08,3.000000,90.000000,3.000000,1.000000,1.000000,0.0,0.0,NaN,...,0.0,NaN,NaN,1.0,2018.0,0.0,NaN,NaN,NaN,NaN

In [187]:
y1a2 = pd.read_csv("year_1a_arm_2.csv")

In [190]:
temp8 = arm2.dropna(axis=1)
temp8.shape

(72, 57)

In [191]:
temp9 = y1a2.dropna(axis=1)
temp9.shape

(30, 7)

In [192]:
temp9.describe()

,Unnamed: 0,blood_sample_complete,stool_sample_complete,urine_sample_complete,saliva_sample_complete
count,30.000000,30.000000,30.000000,30.0,30.0
mean,1245.766667,0.733333,1.266667,0.0,0.0
std,534.887399,0.980265,0.980265,0.0,0.0
min,183.000000,0.000000,0.000000,0.0,0.0
25%,817.000000,0.000000,0.000000,0.0,0.0
50%,1468.000000,0.000000,2.000000,0.0,0.0
75%,1649.750000,2.000000,2.000000,0.0,0.0
max,1867.000000,2.000000,2.000000,0.0,0.0

In [193]:
y2a2 = pd.read_csv("year_2_arm_2.csv")

In [194]:
temp10 = y2a2.dropna(axis=1)
temp10.shape

(4, 23)

In [195]:
temp10.describe()

,Unnamed: 0,primary_questionnaire_complete,self_reported_outcome_questionnaire_complete,blood_sample_complete,stool_eligibile,stool_sample_complete,urine_sample_complete,saliva_sample_complete,tug_observation___0,tug_observation___1,...,tug_observation___3,tug_observation___4,tug_observation___5,tug_observation___6,tug_observation___7,functional_testing_complete,edss_complete,sensor_complete,cognitive_testing_complete,social_network_complete
count,4.000000,4.0,4.0,4.0,4.000000,4.0,4.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
mean,1077.750000,0.0,0.0,0.5,2.000000,0.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,543.723199,0.0,0.0,1.0,1.154701,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,534.000000,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,657.000000,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,1068.000000,0.0,0.0,0.0,2.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,1488.750000,0.0,0.0,0.5,3.000000,0.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1641.000000,0.0,0.0,2.0,3.000000,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [196]:
y1a2.set_index('id_participant', inplace=True)
y1a2.update(arm2.set_index('id_participant'),overwrite=False)
y1a2.reset_index()

,id_participant,Unnamed: 0,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
0,PRT170056,183,year_1a_arm_2,Emily,NaN,Brown,NaN,PRT170056,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,PRT170087,272,year_1a_arm_2,Wayne,NaN,Moore,1963-06-21,PRT170087,NaN,76502-0001,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,PRT170116,361,year_1a_arm_2,Cassandra,NaN,Logan,NaN,PRT170116,NaN,76502-0007,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,PRT170147,446,year_1a_arm_2,Brad,NaN,Wyland,NaN,PRT170147,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,PRT170149,449,year_1a_arm_2,Daniel,NaN,Skrabski,NaN,PRT170149,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
5,PRT170198,569,year_1a_arm_2,JOHN,NaN,STATES,1951-08-11,PRT170198,NaN,0013,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
6,PRT170200,573,year_1a_arm_2,John,NaN,Caseber,NaN,PRT170200,NaN,76502-0005,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7,PRT170276,758,year_1a_arm_2,Joe,NaN,Bindas,1956-02-12,PRT170276,NaN,76502-0009,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8,PRT170380,994,year_1a_arm_2,EDWARD,NaN,WYGONIK,1958-02-12,PRT170380,NaN,76502-0020,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
9,PRT170388,1013,year_1a_arm_2,JOHN (JACK),NaN,GRZYBEK,1940-09-16,PRT170388,NaN,76502-0021,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
10,PRT170512,1257,year_1a_arm_2,BERNARD,J,DOUGHERTY,1969-02-14,PRT170512,NaN,76502-0030,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
11,PRT170539,1314,year_1a_arm_2,KENT,NaN,FREEMAN,NaN,PRT170539,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
12,PRT180576,1401,year_1a_arm_2,Thomas,NaN,Heyl,NaN,PRT180576,NaN,76502-0036,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
13,PRT180596,1437,year_1a_arm_2,RICH,NaN,CREEHAN,NaN,PRT180596,NaN,76502-0038,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
14,PRT180603,1451,year_1a_arm_2,Patrick,NaN,Odonnell,NaN,PRT180603,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
15,PRT180621,1485,year_1a_arm_2,ANTHONY,NaN,MCCLURE,NaN,PRT180621,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
16,PRT180623,1491,year_1a_arm_2,CATARINA,NaN,VALES,1986-10-04,PRT180623,NaN,76502-0039,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
17,PRT180632,1510,year_1a_arm_2,"LOUIS ""LOU""",NaN,ROCCHINI,1949-02-25,PRT180632,NaN,76502-0040,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
18,PRT180649,1545,year_1a_arm_2,RYAN,NaN,SHIELDS,NaN,PRT180649,NaN,76502-0041,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
19,PRT180665,1581,year_1a_arm_2,Jason,NaN,Moore,1979-11-10,PRT180665,NaN,76502-0043,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
20,PRT180681,1612,year_1a_arm_2,Mark,NaN,Pascarella,NaN,PRT180681,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
21,PRT180698,1640,year_1a_arm_2,Roberta,NaN,Treloar,1960-02-03,PRT180698,NaN,76502-0045,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
22,PRT180705,1653,year_1a_arm_2,Ralph,NaN,Talerico,1980-05-21,PRT180705,NaN,76502-0024,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
23,PRT180712,1666,year_1a_arm_2,Harry,NaN,Ulrich,NaN,PRT180712,NaN,76502-0047,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
24,PRT180731,1704,year_1a_arm_2,Gregory,NaN,Varner,NaN,PRT180731,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
25,PRT180741,1726,year_1a_arm_2,Jeannie,NaN,Menke,NaN,PRT180741,NaN,76502-0053,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
26,PRT180766,1764,year_1a_arm_2,Jonah,NaN,Milby,1976-08-19,PRT180766,control to PRT170251,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
27,PRT180807,1824,year_1a_arm_2,Ryan,NaN,Jackson,NaN,NaN,NaN,76502-0050,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
28,PRT180809,1827,year_1a_arm_2,Jennifer,NaN,Egan,1970-11-06,PRT180809,NaN,76502-0051,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
29,PRT180845,1867,year_1a_arm_2,Tom,NaN,Demoise,1960-02-05,PRT180845,control to 170207,76502-0052,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [197]:
y1a2.to_csv('year_1a_arm_2.csv')

In [198]:
y2a2.set_index('id_participant', inplace=True)
y2a2.update(arm2.set_index('id_participant'),overwrite=False)
y2a2.reset_index()

,id_participant,Unnamed: 0,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
0,PRT170184,534,year_2_arm_2,GREGG,NaN,BROUJOS,NaN,PRT170184,NaN,76502-0048,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,PRT170252,698,year_2_arm_2,Deborah,NaN,Steiner,NaN,PRT170252,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,PRT180596,1438,year_2_arm_2,RICH,NaN,CREEHAN,NaN,PRT180596,NaN,76502-0038,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,PRT180698,1641,year_2_arm_2,Roberta,NaN,Treloar,1960-02-03,PRT180698,NaN,76502-0045,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [199]:
y2a2.to_csv('year_2_arm_2.csv')

In [200]:
y2a2.head()

,Unnamed: 0,redcap_event_name,name_first,name_middle,name_last,dob,id_primary,id_secondary,id_imsms,id_med_record_number,...,mri_date_mail_sent,mri_date_signed_consent,mri_version_consent_form,mri_version_date_consent_form,mri_consent_pdf,t_mri_complete,tdate_order,tdate_completion,notes_3t,subtle_3t_mri_complete
id_participant,,,,,,,,,,,,,,,,,,,,,
PRT170184,534,year_2_arm_2,GREGG,NaN,BROUJOS,NaN,PRT170184,NaN,76502-0048,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
PRT170252,698,year_2_arm_2,Deborah,NaN,Steiner,NaN,PRT170252,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
PRT180596,1438,year_2_arm_2,RICH,NaN,CREEHAN,NaN,PRT180596,NaN,76502-0038,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
PRT180698,1641,year_2_arm_2,Roberta,NaN,Treloar,1960-02-03,PRT180698,NaN,76502-0045,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN