In [1]:
import numpy as np
import pandas as pd

In [2]:
input_pre = '../csv_files/input_files/'
output_pre = '../csv_files/output_files/' 
main = pd.read_csv(output_pre + 'promote_database.csv')
print(main.shape)

(1950, 445)

In [3]:
long = pd.read_csv(input_pre + 'longitudinal.csv')

C:\Users\ridhi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (21,24,25,31,32,75,195,197,199,209,215,217,219,239,244,247,250,256,262,271,274,277,280,344,369,460,461,465,468,469,470,593,595,598,604,610,619,625,628,631,634,641,645,649,653,697,711,713,782,784,796,876,877,882,921,933,937,1093,1097,1099,1101) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
long.shape

(1102, 1592)

In [5]:
p_start = long.columns.get_loc("primary_questionnaire_timestamp")
print(p_start)
p_end = long.columns.get_loc("primary_questionnaire_complete") +1
print(p_end)
s_start = long.columns.get_loc("promote_self_reported_outcomes_timestamp")
print(s_start)
s_end = long.columns.get_loc("promote_self_reported_outcomes_complete")+1
print(s_end)

16
169
169
460

In [7]:
id_series = list(long['id_participant_l'])
#list(id_series)

In [8]:
primary_df = long.iloc[:,p_start:p_end]
#primary_df.shape
primary_df['id_participant'] = id_series
primary_df.shape

(1102, 154)

In [9]:
self_df = long.iloc[:,s_start:s_end]
#primary_df.head()
self_df['id_participant'] = id_series

In [10]:
self_df.shape
#self_df['id_participant']

(1102, 292)

###  Self Reported Questions

In [11]:
len(self_df[self_df['promote_self_reported_outcomes_complete']==2])

38

In [12]:
#self_df[self_df['dmt_now']==2]
dmt_ref = {
    "dmtlist_now___1":"aubagio",
    "dmtlist_now___2":"avonex",
    "dmtlist_now___3":"betaseron",
    "dmtlist_now___4":"copaxone",
    "dmtlist_now___5":"extavia",
    "dmtlist_now___6":"gilenya",
    "dmtlist_now___7":"novantrone",
    "dmtlist_now___8":"plegridy",
    "dmtlist_now___9":"rebif",
    "dmtlist_now___10":"tecfidera",
    "dmtlist_now___11":"tysabri",
    "dmtlist_now___12":"other",
    "dmtlist_now___13":"rituxan",
    "dmtlist_now___14":"zinbryta",
    "dmtlist_now___15":"ocrevus",
    "dmtlist_now___16":"lemtrada",
}

In [13]:
import math
long.loc[long['dmt_now_tecfidera_duration'].isnull() == False, 'id_participant_l']

938     PRT180699
1003    PRT190894
1009    PRT190900
Name: id_participant_l, dtype: object

In [14]:
for i, row in self_df.iterrows():
    a = row.dmt_now
    if a == 1 or a == 2:
        index = 1
        for i in range(12):
            col_name = 'dmtlist_now___' + str(i+1)
            if row[col_name] == 1:
                cols = []
                cols.append(col_name)
                for a in cols:
                    if a == "dmtlist_now___12":
                        print(row.dmt_now_other)
                    col_name2 = 'dmt_now_'+ dmt_ref[a] +'_duration'
                    if row[col_name2] == math.nan:
                        print(row.id_participant)
                    col_name3 = 'dmt_now_'+ dmt_ref[a] +'_start'
                    if row[col_name3] == math.nan:
                        print(row.id_participant)

In [15]:
dmtlist_ref = {
    "dmtlist_past___1":"aubagio",
    "dmtlist_past___2":"avonex",
    "dmtlist_past___3":"betaseron",
    "dmtlist_past___4":"copaxone",
    "dmtlist_past___5":"extavia",
    "dmtlist_past___6":"gilenya",
    "dmtlist_past___7":"novantrone",
    "dmtlist_past___8":"plegridy",
    "dmtlist_past___9":"rebif",
    "dmtlist_past___10":"tecfidera",
    "dmtlist_past___11":"tysabri",
    "dmtlist_past___12":"other",
    "dmtlist_past___13":"rituxan",
    "dmtlist_past___14":"zinbryta",
    "dmtlist_past___15":"ocrevus",
    "dmtlist_past___16":"lemtrada",
}

In [16]:
import math
for i, row in self_df.iterrows():
    a = row.dmt_past
    if a == 1 or a == 2:
        index = 1
        for i in range(12):
            col_name = 'dmtlist_past___' + str(i+1)
            if row[col_name] == 1:
                cols = []
                cols.append(col_name)
                for a in cols:
                    if a == "dmtlist_past___12":
                        print(row.dmt_past_other)
                        break
                    col_name2 = 'dmt_past_'+ dmtlist_ref[a] +'_duration'
                    if row[col_name2] == math.nan:
                        print(row.id_participant)
                    col_name3 = 'dmt_past_'+ dmtlist_ref[a] +'_start'
                    if col_name3 == 'dmt_past_copaxone_start': 
                        col_name3 = 'dmt_past_copaxon_start' 
                    if row[col_name3] == math.nan:
                        print(row.id_participant)
                    col_name4 = 'dmt_past_'+ dmtlist_ref[a] +'_stop'
                    if row[col_name3] == math.nan:
                        print(row.id_participant)

IVGA, PLAMSAMA PHESIS, CHEMO

In [17]:
ex_start = self_df.columns.get_loc("dmt_now")
print(ex_start)
ex_end = self_df.columns.get_loc("dmt_past_zinbryta_stop") +1
print(ex_end)

5
116

In [18]:
df = self_df.drop(self_df.iloc[:, 5:116], axis = 1)

In [19]:
df.describe()

,age_sro,sex_sro,ms_category,ms_neurocare,fams4_mobility_gp3_familyneed,fams4_mobility_gf1_work,fams4_mobility_an6_walking,fams4_mobility_itu3_social,fams4_mobility_cn55_legs,fams4_mobility_ms1_public,...,ltsu___3,ltsu___4,ltsu___5,ltsu___6,ltsu___7,ltsu___8,ltsu___9,ltsu___0,ltsu___99,promote_self_reported_outcomes_complete
count,47.000000,47.000000,21.000000,23.000000,45.000000,45.000000,45.000000,45.000000,45.000000,44.000000,...,762.000000,762.000000,762.0,762.000000,762.000000,762.0,762.000000,762.000000,762.0,762.000000
mean,54.170213,1.255319,3.809524,0.869565,0.422222,2.822222,0.533333,0.466667,2.844444,0.477273,...,0.002625,0.002625,0.0,0.002625,0.006562,0.0,0.005249,0.031496,0.0,0.099738
std,13.719740,0.440755,1.249762,0.344350,0.783027,1.641630,0.967659,0.842075,1.380967,0.952076,...,0.051198,0.051198,0.0,0.051198,0.080791,0.0,0.072309,0.174769,0.0,0.435633
min,22.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
25%,49.000000,1.000000,4.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
50%,56.000000,1.000000,4.000000,1.000000,0.000000,4.000000,0.000000,0.000000,3.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
75%,66.000000,1.500000,4.000000,1.000000,1.000000,4.000000,1.000000,1.000000,4.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
max,74.000000,2.000000,7.000000,1.000000,3.000000,4.000000,3.000000,3.000000,4.000000,3.000000,...,1.000000,1.000000,0.0,1.000000,1.000000,0.0,1.000000,1.000000,0.0,2.000000

In [20]:
complete_df = df[df['promote_self_reported_outcomes_complete']==2]

In [21]:
nans = lambda complete_df: complete_df[complete_df.isnull().any(axis=1)]

In [23]:
nan_record = nans(complete_df)

In [24]:
nan_record.to_csv("promote_self_reported_outcomes_complete.csv")

### Primary questionarrie

In [26]:
#list(primary_df)

['primary_questionnaire_timestamp',
 'dob_pq',
 'age_pq',
 'sex_pq',
 'race',
 'race_other',
 'ethnicity',
 'country_birth',
 'country_birth_other',
 'place_birth',
 'state_birth',
 'address_birth',
 'city_birth',
 'zipcode_birth',
 'country_15',
 'country_15_other',
 'place_15',
 'state_15',
 'address_15',
 'city_15',
 'zipcode_15',
 'state_now',
 'street_now',
 'city_now',
 'zipcode_now',
 'duration_place_current',
 'ht_now_ft',
 'ht_now_inch',
 'wt_now_lbs',
 'ht_18_ft',
 'ht_18_inch',
 'wt_18_lbs',
 'dx_ms',
 'dx_ms_age',
 'ms1sx_age',
 'dx_neuro_list',
 'dx_neuro___1',
 'dx_neuro___2',
 'dx_neuro___3',
 'dx_neuro___4',
 'dx_neuro___5',
 'dx_neuro___6',
 'dx_neuro___7',
 'dx_neuro___8',
 'dx_neuro___9',
 'dx_neuro___10',
 'dx_neuro___11',
 'dx_neuro___12',
 'dx_neuro___13',
 'dx_neuro___22',
 'dx_neuro___14',
 'dx_neuro___15',
 'dx_neuro___16',
 'dx_neuro___17',
 'dx_neuro___18',
 'dx_neuro___19',
 'dx_neuro___20',
 'dx_neuro___21',
 'dx_neuro___90',
 'dx_neuro_other',
 'dx_med_list',
 'dx_med___1',
 'dx_med___2',
 'dx_med___3',
 'dx_med___4',
 'dx_med___5',
 'dx_med___6',
 'dx_med___7',
 'dx_med___8',
 'dx_med___9',
 'dx_med___10',
 'dx_med___11',
 'dx_med___12',
 'dx_med___13',
 'dx_med___14',
 'dx_med___15',
 'dx_med___16',
 'dx_med___17',
 'dx_med___18',
 'dx_med___19',
 'dx_med___20',
 'dx_med___90',
 'dx_med_other',
 'cig',
 'cig_now',
 'cig_avg',
 'cig_age_start',
 'cig_age_quit',
 'cig_2nd',
 'ecig',
 'ecig_now',
 'ecig_avg',
 'ecig_age_begin',
 'ecig_nicotine',
 'ecig_age_quit',
 'etoh',
 'mono',
 'mono_age',
 'sun_reaction',
 'sun_tan',
 'mv',
 'mv_brand',
 'mv_freq',
 'vitd',
 'vitd_dosage',
 'fmhx_ms',
 'fmhx_ms_total',
 'fmhx_ms_relation___1',
 'fmhx_ms_relation___2',
 'fmhx_ms_relation___3',
 'fmhx_ms_relation___4',
 'fmhx_ms_relation___5',
 'fmhx_ms_relation___6',
 'fmhx_ms_relation___7',
 'fmhx_ms_relation___8',
 'fmhx_ms_relation___9',
 'fmhx_ms_relation___10',
 'fmhx_ms_relation___11',
 'fmhx_ms_relation___12',
 'fmhx_ms_relation___90',
 'fmhx_ms_dtr',
 'fmhx_ms_son',
 'fmhx_ms_bro',
 'fmhx_ms_sis',
 'fmhx_ms_other',
 'fdrelatives',
 'family___1',
 'family___2',
 'family___3',
 'family___4',
 'family___5',
 'family___6',
 'family___7',
 'family___8',
 'family___9',
 'family___10',
 'family___11',
 'family___12',
 'family___13',
 'family___14',
 'family___15',
 'family___16',
 'daughters',
 'sons',
 'brothers',
 'sisters',
 'maternal_aunts',
 'maternal_uncles',
 'maternal_cousins',
 'paternal_aunts',
 'paternal_uncles',
 'paternal_cousins',
 'primary_questionnaire_complete',
 'id_participant']

In [27]:
complete_records_primary = primary_df[primary_df['primary_questionnaire_complete']==2]

In [28]:
nans = lambda complete_records_primary: complete_records_primary[complete_records_primary.isnull().any(axis=1)]

In [29]:
pdf = nans(complete_records_primary)

In [31]:
pdf.to_csv("primary_questionnaire_complete.csv")

In [32]:
u_start = long.columns.get_loc("dob_8e881e")
print(u_start)
u_end = long.columns.get_loc("update_questionnaire_complete")+1
print(u_end)

461
876

In [33]:
update_df = long.iloc[:,u_start:u_end]
update_df['id_participant'] = id_series
update_df.shape

(1102, 416)

### Food Frequency

In [36]:
f_start = long.columns.get_loc("dob_ffq")
print(f_start)
f_end = long.columns.get_loc("food_frequency_complete")+1
print(f_end)

877
1104

In [37]:
food_df = long.iloc[:,f_start:f_end]
food_df['id_participant'] = id_series
food_df.shape

(1102, 228)

In [40]:
#list(food_df)

In [43]:
complete_records_food = food_df[food_df['food_frequency_complete']==2]
nans = lambda complete_records_food: complete_records_food[complete_records_food.isnull().any(axis=1)]
fdf = nans(complete_records_food)
fdf.to_csv("food_frequency_complete.csv")